@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--cor1: #CCD5AE;
	--cor2: #E9EDC9;
	--cor3: #FEFAE0;
	--cor4: #FAEDCD;
	--cor5: #D4A373;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header > img {
    width: 100%;
}

div.textos-topo {
    background-color: var(--cor3);
    text-align: center;
    padding: 40px 0px 50px 0px;
    margin: -4px 0px;
}

div.textos-topo > h1 {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 30px;
}

div.textos-topo > a {
    text-decoration: none;
    border-bottom: 2px solid black;
    font-weight: 400;
    font-size: 1em;
    color: black;
}

section.about {
    background-color: var(--cor3);
    padding: 45px;
}

div.about-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.about-img > img {
    width: 550px;
}

div.text-elements {
    font-weight: 300;
    font-size: 2em;
    padding-top: 350px;
}

span.about-texto {
    font-size: 3.5em;
}

section.sec-textos {
    background-color: var(--cor1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 90px 60px;
    font-size: 1em;
}

div.textos01 {
    margin: 20px;
    width: 950px;
    font-size: 1em;
    padding-right: 20px;
    font-weight: 500;
    line-height: 1.9;
}

div.textos02 {
    margin: 20px;
    width: 550px;
    border-left: 15px solid #FEFAE0;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 1.4em;
    text-decoration: underline;
    font-weight: bold;
}

section.tres-fotos {
    background-color: var(--cor3);
    padding: 50px;
}

div.elementos {
    padding: 15px 65px;
}

div.textos3f {
    margin: auto;
    width: 450px;
}

div.textos3f > h3 {
    font-weight: normal;
    font-size: 2.8em;
    margin-bottom: 15px;
    text-align: center;
}

div.textos3f > p {
    font-weight: normal;
    font-size: 0.9;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 35px;
}

div.imgs3f {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section.room {
    background-color: var(--cor5);
    padding: 70px 150px;
}

div.roomgeral {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.imgroom {
    background-color: var(--cor4);
    padding: 75px;
    
}

div.imgroom > img {
    width: 400px;
    box-shadow: 1px 1px 20px 8px rgba(0, 0, 0, 0.219);
}

div.room-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

div.room-textos > h3 {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 25px;
}

div.room-textos > h4 {
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 20px;
}

div.room-textos > p {
    line-height: 1.5;
}

section.galeria {
    background-color: var(--cor3);
    padding: 80px 150px;
}

div.galeria-textos {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

div.galeria-textos > h3 {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 15px;
}

div.galeria-textos > p {
    width: 720px;
    margin: auto;
}

div.fotos-galeria {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
}

div.fotos-galeria > img {
    width: 350px;
}